@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.7em;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #126ba3;
  height: 30px;
}

body::-webkit-scrollbar-track-piece {
  display: none;
}

.backgroundRadial {
  background: rgb(14, 116, 180);
  background: radial-gradient(
    circle,
    rgba(14, 116, 180, 1) 16%,
    rgba(18, 83, 124, 1) 39%
  );
}

.mainNav {
  width: 95%;
}

.mainTitle {
  color: rgb(19 140 215 / 28%);
  font-size: 14rem;
  background: linear-gradient(
    180deg,
    rgba(19, 140, 215, 0) 27%,
    rgba(17, 107, 162, 1) 40%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media (min-width: 640px) {
  .mainTitle {
    font-size: 15rem;
  }
}
